body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #5E5480;
}
body.correct{
    background-color: green;
}
body.wrong {
    background-color: red;
}
.container{
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: white;
}
#question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-grid {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.btn {
    border: 1px solid #5835B0;
    background-color: #5835B0;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: 2px black;
    background-color: white;
    color: black
}

.btn.correct {
    background-color: green;
    color: black;
    border-color: green;
}
.btn.wrong {
    background-color: red;
    border-color: red;
    color: white;

}
.start-btn, .reset-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 25px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}